* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

:root {
    --white: hsl(0, 0%, 100%);
    --color-blue-header: hsl(195, 91%, 25%);
    --color-blue-input-header: hsl(195, 46%, 40%);
    --color-black-titles: hsl(240, 6%, 13%);
}

.page {
    height: 100vh;
    min-height: 100%;
}

header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 1rem;

    padding: 1rem 1.75rem;
    background-color: var(--color-blue-header);
}

header form input {
    border: 1px solid transparent;
    border-radius: 0.5rem;
    padding: 0.75rem 0.875rem;
    background-color: var(--color-blue-input-header);
}

header form input::placeholder {
    color: var(--white);
    font-family: "Mulish", sans-serif;
}

#first-section {
    padding: 1.9375rem 1.375rem;
}

#first-section h1 {
    font-family: "Mulish", sans-serif;
    font-weight: bold;
    font-size: 24px;
    line-height: 1.6rem;

    margin-bottom: 8px;
}

#likes {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 0.6rem;

    padding: 0.2rem auto;
}

#likes a {
    text-decoration: none;
    background-color: var(--color-blue-header);
    border-radius: 3rem;

    padding: 0.75rem;
}

#first-section p {
    margin: 1.9375rem auto;

    font-family: "Mulish", sans-serif;
    font-weight: 500;
    line-height: 1.6rem;

    text-align: start;
}

#sidebar {
    padding: 1.9375rem 1.375rem;

    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

#sidebar h2 {
    font-family: "Mulish", sans-serif;
    font-weight: bold;
    font-size: 24px;
    line-height: 1.6rem;

    margin-bottom: 32px;
}

.second-section {
    display: flex;
    gap: 1rem;

    margin-bottom: 2rem;
}

.info-articles-related {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.info-articles-related h3,
.info-articles-related p {
    font-family: "Mulish", sans-serif;
}

.info-articles-related h3 {
    font-size: 18px;
    line-height: 1.6rem;
    font-weight: bold;
}

.info-articles-related p {
    font-size: 14px;
    font-weight: 400;
}

footer {
    background-color: var(--color-blue-input-header);
    text-align: center;
}

footer p {
    padding: 16px 27px;
    color: var(--white);

    font-family: "Mulish", sans-serif;
    font-weight: 600;
}

@media(min-width: 768px) {
    header form input {
        width: 300px;

        border-radius: 0.5rem;
    }

    main > img {
        height: 100%;
        width: 100%;
    }

    #first-section p {
        padding: auto 1rem auto auto;
    }
}

@media(min-width: 1024px) {

    header {
        display: flex;
        justify-content: space-evenly;
        gap: auto;
    }

    header form input {
        width: 50rem;
        text-decoration: none;
        border: none;
    }

    .page > main {
        display: grid;
        grid-template-columns: auto  auto;
        align-items: self-start;
        gap: 34px;

    }

    main {
        padding: 6.8125rem;
    }
    
    .container-main {
        display: flex;
        flex-direction: column;
        gap: 2rem;
    }

}